/*Background Colour Start*/

.bg-bisque{
  background-color: bisque;
}

.bg-cornflowerblue{
  background-color: cornflowerblue;
}

.bg-lightpink{
  background-color: lightpink;
}

.bg-seashell{
  background-color: seashell;
}

.bg-peachpuff{
  background-color: peachpuff;
}

.bg-rosybrown{
  background-color: rosybrown;
}

.bg-plum{
  background-color: plum;
}

.bg-lightstellblue{
  background-color: lightsteelblue;
}

.bg-lemonchiffon{
  background-color: lemonchiffon;
}

.bg-aqua{
  background-color: aqua;
}

.bg-lightcoral{
  background-color: lightcoral;
}

.bg-palevioletred{
  background-color: palevioletred;
}

/*Background Colour End*/

/*Button Start*/

.button{
  border-radius: 20%;
  width: 200px;
  height: 100px;
  background-color: aqua;
}
.button:hover{
  border-radius: 20%;
  width: 200px;
  height: 100px;
  background-color :blanchedalmond;
}
.button:active{
  border-radius: 20%;
  width: 200px;
  height: 100px;
  background-color: plum;
}
.button:focus{
  border-radius: 20%;
  width: 200px;
  height: 100px;
  background-color: powderblue;
}

/*Button End*/

/*Div Size Start*/

.div-size-square{
  width: 100px;
  height: 100px;
}

.div-size-height{
  height: 100px;
}

/*Div Size End*/

/*Div Circle Start*/

.circle {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  background-color: goldenrod;
}

.padding{
  padding-top: 100px;
}

/*Div Circle End*/

/*Font - Size Start*/

h1{
  font-size: 100px;
}

h2{
    font-size: 80px;
  }

  h3{
    font-size: 60px;
  }

  h4{
    font-size: 40px;
  }

  h5{
    font-size: 20px;
  }

  h6{
    font-size: 10px;
  }
  /*Font - Size End*/

  /*Form Control Start*/

  .form-control{
    background-color: bisque;
  }
  .form-control:hover{
    background-color: gold;
  }
  .form-control:active{
    background-color: lightcoral;
  }
  .form-control:focus{
    background-color: blueviolet;
  }

  /*Form Control End*/
